body {
    background-color: #000000;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;

}

h1 {
    color: #800000;
    text-align: center;
    font-size: 80px;
   font-family: 'Roboto', sans-seri
}
p {
    font-family: ariel;
    font-size: 26px;
    color: #e0e0d1;
    background-color:#606060;
    border: 3.5px dotted maroon;
    margin: 40px;
    padding: 20px;
}
h2 {
    color: white;
    text-align: center;
    font-size: 40px;
}
h3 {
   color: white;
    text-align: center;
    font-size: 40px;
}

img {
         max-width: 100%;