body {
    background-color: #000000;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;

}

h1 {
    color: #800000;
    text-align: center;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: arial;
    font-size: 22px;
    color: #e0e0d1;
    border: 3.5px dotted #660000;
    margin: 40px;
    padding: 20px;
}
h2 {
    color: white;
    text-align: center;
    font-size: 40px;
}

h3 {
   color: white;
    text-align: center;
    font-size: 40px;
}
h4 {
    color: white;
    text-align: center;
    font-size: 40px;
}
a {
    color: maroon;
}

img {
         max-width: 100%;